annotated-types
anyio
blinker
certifi
click
colorama
distro
Flask
Flask-Cors
fuzzywuzzy
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
MarkupSafe
openai
pydantic
pydantic_core
python-dotenv
sniffio
tqdm
typing_extensions
Werkzeug
